
<head> <link rel='icon' href='https://i.imgur.com/zJafSRL.png'> </head>

<body style='margin: 0;'>

	<script> console.log( '\n' + 'Powered By: ' + '\n' ); </script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js'></script>

	<script src='pony.js'></script>
</body>